.page-header
  %h2 Thanks For Your Order
.jumbotron
  %h4.content
    :markdown
      Your order is currently being pushed to handlers throughout California.
      
      You should be hearing back in the next 2 to 3 business days if someone is
      willing to accept your order.
