
.page-header
  %h2 We Revolutionize The Way Almonds Are Traded
.row
  .col-xs-3= image_tag 'almond.png', class:'img-responsive'
  .col-xs-9
    .jumbotron
      %h4.content
        :markdown
          **Streamline Your Almond Transactions**
          
          <sub>AlmondTech is the easiest place to buy almonds on the global wholesale market. We eliminate all the "middlemen" so the buyers get the lowest price possible. When you place an order through AlmondTech, your order will immediately be pushed to handlers and sellers all over California, giving your order the maximum amount of exposure. Sellers will be able to compete for your business with lower counter offers, ensuring that you won’t be over paying current market standard. With AlmondTech, you will never again wonder whether you are getting the current, lowest price possible.</sub>

          *Remove the hassle*

          *Know you're getting the best prices*
          
    %button.btn.btn-default.btn-block.center-block= link_to 'Place an Order to All of California', bids_place_path



