
.page-header
  %h2 Coming Soon
.jumbotron
  %h4.content
    :markdown
      Much of our application is still in development, but we are working
      hard to get all future features into production.
